@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ff8107;
  --color-secondary: #0685f8;
  --color-dark-1: #24292f;
  --color-dark-2: #424a53;
  --color-dark-3: #57606a;
  --color-dark-4: #8c959f;
  --color-dark-5: #d0d7de;
  --color-light-1: #dee0e8;
  --color-light-2: #e8eaf0;
  --color-light-3: #eff1f4;
  --color-light-4: #f5f6f9;
  --color-disabled: #e6e6e6;
  --color-menu-selected: #ffe9d4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
